[Unit]
Description=rtl_433 data dump.
After=network.target

[Service]
User=root
EnvironmentFile=-/etc/default/rtl_433
ExecStart=/usr/bin/start_rtl_433.sh $RTL_433

RestartSec=10
Restart=Always

[Install]
WantedBy=multi-user.target

[Unit]
Description=slur-rtl_433
After=slurp-rtl_433.service

[Service]
User=root
EnvironmentFile=-/etc/default/slurp-rtl_433
ExecStart=/usr/local/bin/start_rtl_433.sh -c /etc/slurp-rtl_433/config.toml $SLURP_OPS

Restart=on-failure
KillMode=control-group

[Install]
WantedBy=multi-user.target