[Unit]
Description=rtl_433 data dump.
After=network.target

[Service]
User=root
EnvironmentFile=-/etc/default/rtl_433
ExecStart=/usr/bin/start_rtl_433.sh $RTL_433

RestartSec=10
Restart=always
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
